/* footer2 css */
#footer1{
    background-color:rgb(250,241,237) ;
    }
    
     #footer1_1{
        display: grid;
        width: 87%;
        margin: auto;
        margin-bottom: -5%;
        padding: 50px;
        font-size: 1.2em;
        grid-template-columns:20% 20% 25% 35%  ;
     }
    
     #footer1_2{
        width: 87%;
        margin: auto;
        padding: 50px;
        display: grid;
        gap: 20px;
        grid-template-columns: 65% 35%;
     }
     #footer1_2_1{
        display: flex;
        width: 100%;
        align-items: center;
     }
      #footer1_2_1>#footer1_2_1_1>img{
        width: 40px;
      }
    
      #footer1_2_1>#footer1_2_1_1{
        margin-bottom: 15px;
        width: 10%;
      }
    
      #footer1_2_1_2_1{
        color: #262626ab;
        font-size: 12px;
        display: flex;
      }
    
      #footer1_2_1_2_2{
        margin-top:  5px;
        display: flex;
        flex-wrap: wrap;
        gap:0px 10px;
      }
      #footer1_2_1_2_2 a{
        color: rgb(94,92,91);
        font-size: 16px;
        font-weight: bold;
      }
      
      #footer1_2_2>*{
        margin: 5px;
        width: 45%;
        outline:none;
        border-radius: 10px;
        border: 2px solid rgb(197, 197, 197);
        padding: 7px 10px;
        color: rgb(36,36,36);
        font-weight: 800;
      }
      #footer1_2_2>*:hover{
        background-color: #f4f4f4;
      }
      #footer1_2_2 option{
        font-weight: bold;
        padding: 20px;
        background-color: #f4f4f4;
      }
    
      #footer1_2_3{
        font-size: 12px;
        margin-top: -10px;
        color: #262626ab;
    
      }
      #footer1_2_3 a{
        color: #262626;
        text-decoration: none;
        font-weight: bold;
      }
    
      #footer1_2_3 a:hover{
        text-decoration: underline;
      }
      
      #footer1_2_4{
        margin-left: 50%;
        width: 45%;
        margin-top: -10px;
        display: flex;
        justify-content: space-around;
        font-size: 1.5em;
      }
      #footer1_2_4>*:hover{
        color: #545454;
        cursor: pointer;
      }
    