
body{

    font-family: Arial, Helvetica, sans-serif;

}

.top{
    /* margin: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

#A{
    text-align:center ;

}
#A input{
    margin: 20px;
    border-radius:100px ;
    width:70% ;
    height:40px ;
    
}

#see{
    margin: auto;
    text-align: left;
    line-height: 10px;
    width: 50%;
}


#B{
    margin: auto;
    margin-top: 20px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 50%;
    line-height:8px;
}

#B img{
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-right: 15px;
}

.checked {
    color: orange;
  }
=======
.view{
    width:40% ;
    height:40% ;
    margin-left:30% ;

}

h1{
text-align:center ;
font-size:65px ;
}
.view  h2{
    font-size:65px ;
    text-align:center ;
    margin-top:-45px ;
}
#A{
    text-align:center ;
}
#A input{
    
    border-radius:100px ;
    width:70% ;
    height:60px ;
    
}


#see{
   margin-left:300px ;
}
#see h2{
    font-size:40px ;
}
#see p{
    font-size:25px ;
    margin-top:-30px ;
}
#B{
    width: 80%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows:250px ;
    
}
#B >div{
  border: 1px solid red;
}
#B>div>p{
    width: 80%;
}
