body{

    font-family: Arial, Helvetica, sans-serif;

}

.top{
    /* margin: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

#A{
    text-align:center ;

}
#A input{
    margin: 20px;
    border-radius:100px ;
    width:70% ;
    height:40px ;
    
}

#see{
    margin: auto;
    text-align: left;
    line-height: 10px;
    width: 50%;
}


#B{
    margin: auto;
    margin-top: 20px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: 200px;
    width: 50%;
    line-height:8px;
}

#B img{
    height: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    margin-right: 15px;
}

.checked {
    color: orange;
  }
